@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic);

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100italic,100,300,300italic,400italic,500,500italic,700,700italic,900,900italic);

body {
  background: #e2e2e2;
}

.card {
  width: 600px;
  height: 360px;
  background: #fff;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 20px;
}

.top {
  width: 100%;
  background: rgb(25, 146, 250);
  padding: 57px 0;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position: relative;
}

.payment {
  position: absolute;
  font-size: 22px;
  color: #fff;
  font-family: "ubuntu", sans-serif;
  text-transform: uppercase;
  line-height: 25px;
  font-weight: 500;
  top: 32px;
  left: 35px;
}

.visa svg {
  width: 120px;
  height: auto;
  position: absolute;
  right: 29px;
}

/*form styles*/
form {
  width: 550px;
  margin: 0 auto;
}

.one {
  width: 225px;
}

.two {
  width: 245px;
}
.one,
.two,
.three,
.four,
.five {
  float: left;
  margin: 15px 40px 5px 0;
}

.three,
.four,
.five {
  float: left;
  width: 143px;
}

input,
select {
  clear: both;
  float: none;
  display: block;
  -webkit-appearance: none;
  border: 1px solid rgb(197, 197, 197);
  padding: 14px 15px;
  border-radius: 3px;
  width: 100%;
  font-size: 15px;
  color: #000;
  text-align: left;
  font-weight: bold;
  background: #fff;
}

input::placeholder{
    color: #00000023;
}

input {
  color: rgb(244, 195, 88);
  text-shadow: 0px 0px 0px #000;
  -webkit-text-fill-color: transparent;
}

select {
  padding-left: 15px;
}

::-webkit-input-placeholder {
  font-size: 15px;
  color: #0000002d;
  text-align: left;
  font-weight: bold;
  padding-left: 0px;
}
:-moz-placeholder {
  /* older Firefox*/
  font-size: 15px;
  color: #0000002d;
  text-align: left;
  font-weight: bold;
  padding-left: 0px;
}
::-moz-placeholder {
  /* Firefox 19+ */
  font-size: 15px;
  color: #0000002d;
  text-align: left;
  font-weight: bold;
  padding-left: 0px;
}
:-ms-input-placeholder {
  font-size: 15px;
  color: #0000002d  ;
  text-align: left;
  font-weight: bold;
  padding-left: 0px;
}

label {
  color: rgb(151, 151, 151);
  font-size: 12px;
  font-weight: 500;
  letter-spacing: -0px;
  font-family: "ubuntu", sans-serif;
  text-transform: uppercase;
  margin: 15px 0;
  display: block;
}

input[type="text"]:focus,
input[type="number"]:focus,
textarea:focus,
select:focus {
  box-shadow: none;
  outline: none;
  border: 1px solid rgb(25, 146, 250);
}

/*drop down arrow */
/* Targetting Webkit browsers only. FF will show the dropdown arrow with so much padding. */
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select {
    padding-right: 18px;
  }
}

label {
  position: relative;
}
.three label:after{
  content: "\f078";
  font-family: "FontAwesome";
  font-size: 11px;
  color: rgb(140, 140, 140);
  right: 10px;
  top: 45px;
  padding: 0 0 2px;
  position: absolute;
  pointer-events: none;
}
label:before {
  content: "";
  right: 4px;
  top: 0px;
  width: 23px;
  height: 18px;
  background: #fff;
  position: absolute;
  pointer-events: none;
  display: block;
}

.container {
  display: grid;
  grid-template-columns: auto;
  justify-content: center;
  height: 250px;
}

.mobile {
  width: 600px;
  height: 500px;
  align-self: center;
  display: grid;
  grid-template-rows: 10% auto;
  color: #fff;
}

.mobile > div {
  padding: 1rem 2rem;
}

.header {
  background: #21223f;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &::after {
    width: 0 !important;
  }
}

.filter {
  display: flex;
  padding: 0.5rem;
  min-width: 80px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #828393;
  border-radius: 10px;
}

.calendar i,
.select i,
.total .label {
  color: #828393;
}

.content {
  background: #21223f;
  display: grid;
}

.total {
  align-self: start;
  justify-self: center;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total > div:not(:first-child):not(:last-child) {
  margin: 0.5rem;
}

.total .label,
.card .label {
  text-transform: uppercase;
  font-weight: 100;
  font-size: 0.8rem;
}

.total .value {
  font-size: 1.8rem;
}

.total .balance {
  background: #1f3a4a;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  color: #02ca8c;
  cursor: pointer;
}

.cards {
  display: grid;
  overflow-x: auto;
  overflow-y: hidden;
  grid-template-columns: repeat(auto-fill, minmax(auto, 0));
  grid-gap: 10px;
  align-self: start;
}

.card {
  min-width: 130px;
  height: 90px;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.green {
  background: #00cccc;
}

.magenta {
  background: #7359ff;
}

.gray {
  background: #7a7faf;
}

.card .balance {
  display: flex;
  align-self: start;
  padding: 0.5rem 0;
  width: 60px;
  justify-content: space-around;
  font-size: 0.8rem;
}

.card .label {
  color: #adffff;
  font-size: 0.7rem;
}

.card .item {
  align-self: start;
  padding: 0.5rem 0;
  height: 36px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card .arrow-up {
  transform: rotateZ(45deg);
}

.card .item .value {
  font-size: 1.3rem;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px #21233f;
}

::-webkit-scrollbar-thumb {
  background-color: #676767;
  border-radius: 10px;
}

.menu {
  list-style-type: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
}

.menu li {
  height: 40px;
  position: relative;
}

.menu label,
.menu input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.7;
}

.menu input[type="radio"] {
  opacity: 0.011;
  z-index: 100;
}

.menu input[type="radio"]:checked + label {
  border-bottom: 1px solid #2181ff;
  opacity: 1;
}

.menu input[type="radio"]:checked + label i {
  color: #2181ff;
}

.menu label {
  cursor: pointer;
  z-index: 90;
  font-size: 0.7rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu label:hover {
  opacity: 0.7;
}

.list {
  background: #211c3a;
  display: grid;
  grid-gap: 5px;
  padding: 5px 0;
  height: 180px;
  overflow-y: auto;
}

.list div[class^="item"] {
  display: flex;
  justify-content: space-between;
  background: #21223f;
  padding: 10px 0;
}

.list div[class^="section"] {
  font-size: 0.8rem;
  display: flex;
  align-items: center;
}

.list .icon {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

.list .icon.up {
  color: #00ff00;
  transform: rotateZ(30deg);
}

.list .icon.down {
  color: #ff0000;
  transform: rotateZ(-150deg);
}

.list .description {
  color: #7d7d7d;
}

.list .signal {
  font-weight: bold;
}

.list .signal.positive {
  color: #00ff00;
}

.list .signal.negative {
  color: #ff0000;
}


.add-credit {
    background: #1f3a4a;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    color: #02ca8c;
    cursor: pointer;
    height: 40px;
    bottom: -375px;
    position: absolute;
    width: 90%;
    text-align: center;
}